force-app/main/default/flows/Set_count_opp_after_del.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Count_Opp</name>
        <label>Set Count Opp</label>
        <locationX>176</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>VarChildOpp</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Child_Opps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Assessment_Opp</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Set count opp after del {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set count opp after del</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Opps</name>
        <label>Get Child Opps</label>
        <locationX>176</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Count_Opp</targetReference>
        </connector>
        <filters>
            <field>Assessment_Provider__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Assessment_Provider__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assessment_Opp</name>
        <label>Update Assessment Opp</label>
        <locationX>176</locationX>
        <locationY>493</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Assessment_Provider__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assessment_Total__c</field>
            <value>
                <elementReference>VarChildOpp</elementReference>
            </value>
        </inputAssignments>
        <object>Assessment_Provider__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Child_Opps</targetReference>
        </connector>
        <filters>
            <field>Assessment_Provider__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <object>Opportunity</object>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>VarChildOpp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
